@import './variables';
@import './container';
@import './header';
@import './button';
@import './form';

* {
    box-sizing: border-box;
}

.todo {
    &__counter,
    &__list,
    &__task__text {
        margin: 0;
    }

    &__tabs,
    &__list {
        list-style: none;
    }
}