@import './variables';
@import './container';
@import './header';
@import './button';
@import './form';
@import './body';
@import './wrapper';
@import './tabs';
@import './tab';
@import './list';
@import './counter';
@import './task';
@import './delete';

* {
    box-sizing: border-box;
}

.todo {
    &__counter,
    &__list,
    &__task__text,
    &__tabs {
        margin: 0;
    }

    &__tabs,
    &__list {
        list-style: none;
    }
}