.todo__body {
    display: grid;
    grid-template-rows: min-content 400px;
    align-items: center;
    column-gap: 20px;

    position: relative;

    width: 100%;

    border-radius: 0 0 10px 10px;

    overflow: hidden;
}
