.todo__body {
    display: grid;
    align-items: center;

    column-gap: 20px;

    grid-template-rows: min-content 400px;

    max-width: 540px;

    padding: 20px;
    margin: 0 auto;
}

.todo__list {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;

    padding: 10px;
}