.todo__container {
    display: grid;
    align-self: center;
    gap: 20px;
    font-family: sans-serif;
    width: calc(100% - 20px);
    height: fit-content;
    background-color: $gray-400;
    border-radius: 5px;
    padding: 10px;
    margin-inline: auto;
}
