.todo__button__delete {
    position: absolute;
    bottom: 0;
    border: none;
    background-color: $white;
    max-width: 150px;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;

    &:hover,
    &:focus {
        background-color: $gray-200;
    }

    &:active {
        background-color: $gray-100;
    }
}
