.todo__list {
    display: grid;
    grid-auto-rows: min-content;
    gap: 10px;

    list-style: none;

    grid-column: 1 / span 2;
    background-color: white;

    height: 200px;

    border-radius: 0  0 10px 10px;

    padding: 10px;
    margin: 0;

    & > :nth-child(even) {
        background-color: antiquewhite;
    }
}